mixin section(object)
  .accordion-element
    each element, index in object.objectTest
      // ----------------------------------------------
      if element.color == "other"
        div(class="accordion title__info " + element.color) !{element.title}
        .panel
          section 
            strong !{element.info}
            ul
              each item in element.infoItems
                li= item
      else
        div(class="accordion title__info " + element.color) !{element.title}
        .panel
          section
            strong Nie wyrzucamy:
            ul
              each item in element.dont
                li= item

            strong Wskazówki: <br/>
            ul
              each tip in element.tips
                li= tip
